*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: 1.2;
  font-size: 1rem;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* max-width: 80vw; */
  font-family: Helvetica, Arial, sans-serif;
}

.header {
  margin: 0 auto;
  border: 1px solid black;
  background-color: #0c7c7ea4;
  max-width: 1024px;
  width: 100%;
  padding: 1rem;
}
.input-wrapper {
  font-family: Helvetica, Arial, sans-serif;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#user-inputs,
#submit-location {
  padding: 1rem;
  border-radius: 10px;
  font-size: 20px;
}
#submit-location {
  width: 10rem;
  background-color: #0c7c7ea4;
}

#location {
  padding: 1rem;
  border-radius: 10px;
  font-size: 20px;
}
.main {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 290px 150px;
  grid-gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 2rem 0 2rem;
  flex-grow: 1;
  border: 2px solid black;
}

.temperature-input {
  display: block;
  margin-bottom: 1rem;
  text-align: center;
  width: 200px;
}

.conversions {
  display: flex;
  flex-direction: column;
  text-align: center;
}

p,
.temperature,
#conversion-btn,
.conversions {
  margin-bottom: 1rem;
}

/* #submit-city {
  padding: 0.5rem;
  width: 5rem;
  border-radius: 10px;
  background-color: #0c7c7ea4;
} */

.celsius,
.fahrenheit {
  display: inline-block;
  /* margin-left:1rem; */
  text-align: center;
}

/* .temperature-converter, */
.location-data,
.aside {
  border: 1px solid black;
  text-align: center;
  padding-top: 1rem;
}

/* 
.temperature-converter {
  order: 2;
} */
/* .location-data {
  order: 2;
}
.aside {
  order: 1;
}  */

#conversion-btn {
  font-size: 15px;
  width: 5rem;
  border-radius: 10px;
  background-color: #0c7c7ea4;
  padding: 0.5rem;
  letter-spacing: 0rem;
  line-height: 1.2;
}

.temperature {
  padding: 0.5rem;
  border-radius: 10px;
}

.footer {
  margin-top: auto;
}

.mob {
  /* display: none; */
  grid-row: 1 / span 3;
  grid-column: 1 / span 3;
  font-size: 14px;
  padding: 0.5rem;
  letter-spacing: 0rem;
  line-height: 1.2;
}

@media (min-width: 700px) {
  .mob {
    display: block;
    grid-row: 1;
    grid-column: 1;
    font-size: 20px;
    padding: 1rem;
  }
  .main {
    grid-template-columns: 200px 1fr 200px;
  }
  .temperature-converter {
    order: 1;
  }
  .location-data {
    order: 2;
  }
  .aside {
    order: 3;
  }
}
